<h1 mat-dialog-title>Create and edit in BSide</h1>
<div mat-dialog-content >
  <div *ngIf="alreadyFork">
    <span><strong>{{data?.owner}}/{{data?.repoName}}</strong> is already cloned.</span>
  </div>
    <mat-vertical-stepper [linear]="true" #stepper [class.none]="loading || alreadyFork">
      <mat-step [stepControl]="firstFormGroup" [editable]="!complete && !this.btnOpts.active">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out the name of repository</ng-template>
          <span style="font-size: 0.8em">from <a href="{{data?.htmlUrl}}" target="_blank">{{data?.owner}}/{{data?.repoName}}</a></span>
          <mat-form-field style="width:100%; margin-bottom: 2em">
            <input matInput formControlName="newNameCtrl" placeholder="{{recommendedName}}" requried>
            <mat-hint><strong>{{recommendedName}}</strong> is recommended. Most pages couldn't work after renaming.</mat-hint>
            <mat-error *ngIf="firstFormGroup.get('newNameCtrl').hasError('duplicate') && !firstFormGroup.get('newNameCtrl').hasError('required')">
              <strong>{{firstFormGroup.get('newNameCtrl').value}}</strong> already exists.
            </mat-error>
            <mat-error *ngIf="firstFormGroup.get('newNameCtrl').hasError('duplicate_reponame') && !firstFormGroup.get('newNameCtrl').hasError('required')">
              <strong>{{data.repoName}}</strong> already exists. This case can't be handled. Please fork manually in Github.
            </mat-error>
            <mat-error *ngIf="firstFormGroup.get('newNameCtrl').hasError('invalid_pattern') && !firstFormGroup.get('newNameCtrl').hasError('required')">
              <strong>name</strong> must consist of alphabets or numbers or _ or -.
            </mat-error>
            <mat-error *ngIf="firstFormGroup.get('newNameCtrl').hasError('required')">
              Name is <strong>required</strong>.
            </mat-error>
            <!-- <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required> -->
          </mat-form-field>
          <div>
            <button mat-stroked-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" [editable]="!complete && !this.btnOpts.active">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Select a branch for the page</ng-template>
          <mat-form-field style="width:100%; margin-bottom: 1em">
            <mat-label>Branches</mat-label>
            <mat-select formControlName="branchCtrl" [disabled]="isUserPageName(firstFormGroup.get('newNameCtrl').value)">
              <mat-option *ngFor="let branch of branches" [value]="branch.name">
                {{branch.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="secondFormGroup.get('branchCtrl').hasError('required')">
              Branch is <strong>required</strong>.
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-stroked-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [editable]="!complete">
        <ng-template matStepLabel>Check</ng-template>
        <div *ngIf="!complete">
          <div style="word-break: break-word; margin-bottom: 1em">
            <div>Repository name is <span style="font-weight: 800">{{firstFormGroup.get('newNameCtrl').value}}.</span></div>
            <div *ngIf="!isUserPageName(firstFormGroup.get('newNameCtrl').value)">Project page will be <span
                style="font-weight: 800">{{getProjectPageUrl()}}</span></div>
            <div *ngIf="isUserPageName(firstFormGroup.get('newNameCtrl').value)">User Page will be <span
                style="font-weight: 800">{{getUserPageUrl()}}</span></div>
          </div>
          <div>
            <mat-bar-button (btnClick)="clone()" [options]="btnOpts"></mat-bar-button>
          </div>
        </div>
        <div *ngIf="complete">
          <div style="word-break: break-word; margin-bottom: 1em">
            It has done to generate your web site.
            <div>Repository name is <a href="{{htmlUrl}}" target="_blank"><span style="font-weight: 800">{{firstFormGroup.get('newNameCtrl').value}}.</span></a></div>
            <div *ngIf="!isUserPageName(firstFormGroup.get('newNameCtrl').value)">Project page is
              <a href="{{getProjectPageUrl()}}" target="_blank"><span style="font-weight: 800">{{getProjectPageUrl()}}</span></a>
            </div>
            <div *ngIf="isUserPageName(firstFormGroup.get('newNameCtrl').value)">User Page is
              <a href="{{getUserPageUrl()}}" target="_blank"><span style="font-weight: 800">{{getUserPageUrl()}}</span></a>
            </div>
          </div>
          <div>
            <button mat-stroked-button (click)="ok()" cdkFocusInitial>Edit</button>
          </div>
        </div>
      </mat-step>
      <!-- <mat-step [class.none]="complete"> 
        <ng-template matStepLabel>Done</ng-template>
        <div style="word-break: break-word; margin-bottom: 1em">
          It has completed to generate your web site.
          <div>Repository name is <span style="font-weight: 800">{{firstFormGroup.get('newNameCtrl').value}}.</span></div>
          <div *ngIf="!isUserPageName(firstFormGroup.get('newNameCtrl').value)">Project Page is <span
              style="font-weight: 800">{{getProjectPageUrl()}}.</span></div>
          <div *ngIf="isUserPageName(firstFormGroup.get('newNameCtrl').value)">User Page is <span
              style="font-weight: 800">{{getUserPageUrl()}}.</span></div>
        </div>
        <div>
          <button mat-stroked-button [mat-dialog-close]="" cdkFocusInitial>Close</button>
        </div>
      </mat-step> -->
    </mat-vertical-stepper>
  <!-- <p>You can start bloging from this <a href="data?.htmlUrl" target="_blank">{{data?.owner}}/{{data?.repoName}}</a>.</p>
  <mat-form-field  style="width:70%">
    <input matInput [(ngModel)]="newName" placeholder="Type new name.">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="newName" cdkFocusInitial>Ok</button> -->
</div>
