.mat-tree-node{
    min-height: unset;
    margin-bottom: 0.4em;
}

.mat-tree-node:first-child{
    margin-top: 0.4em;
} 

.tree-invisible {
    display: none;
}

.node-title{
    flex: 1;
    text-align: left;
    cursor: pointer; 
    display: flex;   
    position: relative;
}
.node-title-opacity{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.node-title-opacity:hover{
    opacity: 0.1;
    background: black;
}


.node-title-opacity:active{
    opacity: 0.2;
    background: black;
}

.selected{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
    background: black;
}

.repository-title{
    display: flex;
    min-width: 12vw;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


.context-menu-button{
    opacity: 0.4;
}

.context-menu-button:hover{
    opacity: 1;
}

.tree-box{
    flex: 1;
    display: block;
    height: 10px;
}
