<mat-tab-group [selectedIndex]="selectedTabindex" (selectedTabChange)="tabSelected($event.tab)">
  <mat-tab *ngFor="let path of _tabs; let index = index" [label]="path">
    <ng-template mat-tab-label>
      <div style="width: 100%; flex-direction: row; display: flex" title="{{path}}">
        <span>{{getFileName(path)}}</span>
        <div style="flex:1">
        </div>
          <mat-icon class="" (click)="removeTab(path)">close</mat-icon>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>