.left-drawer-content{
    max-width: 30vw;
    height: 100%;
}

.left-drawer{
    padding-left: 1em;
    height: 100%;
    display: flex;
}

.left-fold{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
}

.left-fold .mat-icon{
    font-size: 20px;
    width: 20px;
}

.left-fold :hover{
    cursor: pointer;
}

.container {
    display: flex;

}
.workspace-pane{
    display: flex; flex-direction: row; flex-grow: 1
}
.workspace-left-pane{
    display: flex; 
    flex: 1;
}
.workspace-right-pane{
    display: flex; flex: 1;
}
.workspace-center-pane{
    display: flex; flex: 4;
    background-color:gray;
}
.mat-drawer-left{
    padding-right: 0;
}
.shrink{
    height: 100px;
}
.branches{
    width: 100%;
    margin-top: 1em
}
.none{
    display: none;
}
.block{
    display: block;
}
.flex{
    display: flex;
}
.spacer{
    flex: 1; 
}
.toolbar{
    display: flex;
    flex-direction: row; 
    width: 100%;
    padding-top: 0.5em;
}
.fileName{
    margin-left: 1em;
    font-size: 1.4em;
    word-break: break-word;
}
.loading{
    min-width: 15em;
    display: flex; flex-direction: column; justify-content: center; align-items: center;  width: 100%; height: 100%;
}
