.container {
    display: flex;

}
.workspace-pane{
    display: flex; flex-direction: row; flex-grow: 1
}
.workspace-left-pane{
    display: flex; 
    flex: 1;
}
.workspace-right-pane{
    display: flex; flex: 1;
}
.workspace-center-pane{
    display: flex; flex: 4;
    background-color:gray;
}
.mat-drawer-left{
    padding-right: 0;
}
.repository-title{
    display: flex; min-width: 12vw; padding-bottom: 0.5em;
}
.shrink{
    height: 100px;
}
.branches{
    width: 100%;
    margin-top: 1em
}
.none{
    display: none;
}
.block{
    display: block;
}