<mat-toolbar class="header" color="primary">
  <div style="flex: 1;">
    <a routerLink="/"><button class="home" mat-button>BSide</button></a>
    <a [routerLink]="['repos', user?.login]" *ngIf="user"><button mat-button class="menu-btn" ><span style="font-size: 1.2em; vertical-align: baseline;">Repositories</span></button></a>
    <span class="spacer"></span>
  </div>
  <div>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
    <a routerLink="/login"><button class="signin" mat-raised-button *ngIf="!oauth.isLogin && !redirecting">Sign in</button></a>
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="oauth.isLogin" color="white" style="width: 32px; height: 32px;"> -->
      <img src="{{user?.avatar_url}}" [matMenuTriggerFor]="menu" *ngIf="oauth.isLogin && user" color="white" style="width: 32px; height: 32px; vertical-align: middle;" title="{{user?.login}}({{user?.name}})" id="profile-image" />
      <mat-spinner style="display: inline-block;" [diameter]="30" [strokeWidth]="3" *ngIf="oauth.isLogin && !user"></mat-spinner>
    <!-- </button>  -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>{{user?.login}}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
      <!-- <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button> -->
    </mat-menu>
  </div>
</mat-toolbar>