<mat-toolbar class="header">
  <div style="flex: 1;">
    <a routerLink="/"><button class="home" mat-button>Writer</button></a>
    <a [routerLink]="['repos', user?.login]" *ngIf="user"><button mat-button>Repositories</button></a>
    <span class="spacer"></span>
  </div>
  <div>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
    <a routerLink="/login"><button class="signin" mat-raised-button *ngIf="!oauth.isLogin && !redirecting">Sign in</button></a>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="oauth.isLogin" color="white">
      <img src="{{user?.avatar_url}}" style="width: 100%; height: 100%" *ngIf="user"/>
      <mat-spinner style="display: inline-block;" [diameter]="30" [strokeWidth]="3" *ngIf="!user"></mat-spinner>
    </button> 
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>{{user?.login}}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
      <!-- <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button> -->
    </mat-menu>
  </div>
</mat-toolbar>