.layout-box{
    display: flex;
    height: 100%;
    flex-flow: column;
    overflow-y: auto;
}
.spacer{
    flex: 0.5;
}
.layout-bottom{
    width: 100%;
    height: 100%;
    justify-content: center;
    display:flex;
    flex: 9.5;
}
.outer-box{
    height: 100%;
    width: 100%;
    max-width: 960px;
    display:flex;
    margin-left: 1em;
    margin-right: 1em;
}
.left{
    flex:4.5;
}
.center-spacer{
    flex: 0.5;
}
.right{
    flex:4.5;
}