<div class="layout-box">
  <div class="spacer"></div>
  <div class="layout-bottom">
    <div class="outer-box">
      <div class="left">
        <h1>Edit and coordinate your contents in repositories by using powerful workspace</h1>
        <p>BSide is a content manager and allows you to coordinate tree structure, new and edit files from your
          repositories</p>
        <div style="text-align: center">
          <a routerLink="/login"><button class="signin" mat-raised-button *ngIf="!oauth.isLogin" color="primary"
              style="width: 5em;font-size: 1.5em; height: 2.5em; margin-top: 1em;">Sign in</button></a>
        </div>
      </div>

      <div class="center-spacer"></div>
      <div class="right">
        <div>
          <h3>Coordinate tree structure easily</h3>
          <p>
            A tree explorer shows hiarachy of tree structure and provides various action such as move to other tree with drag and drop.
          </p>
        </div>
        <div>
          <h3>Edit contents of your static pages</h3>
          <p>
            Contents can be created, uploaded, edited and renamed.
          </p>
        </div>
        <div>
          <h3>Use integrated workspace</h3>
          <p>
            Workspace provide tree explorer, editors and also some modes of layout.
          </p>
        </div>
        <div>
          <h3>Save your works persistently</h3>
          <p>
            Workspace provides to save works you have done on it to databases.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>