<div style="height: 100%;" (window:resize)="onResize($event)" class="flex">
  <div #editor class="monaco-editor" style="width:100%;height: 100%;" [class.shrink]="shrink"></div>
  <div style="align-items: center; display: flex; justify-content: center;width: 100%; height: 100%; flex-direction: column" 
    *ngIf="shrink">

    <mat-spinner [strokeWidth]="3"></mat-spinner>
    <div>Coordinating...</div>
  </div>
</div>

<div style="overflow: auto; height: 100%;" [class.flex]="isMdOn" [class.none]="!isMdOn">
  <!-- <markdown [data]="markdown" style="width: 100%;"></markdown> -->
  
  <app-markdown-editor #markdowneditor style="width: 100%;" [preview]="true"></app-markdown-editor>
</div>
<!-- <app-diff-editor #diffeditor1 style="width: 100%; height: 100%;" [class.flex]="isDiffOn" [class.none]="!isDiffOn"></app-diff-editor> -->