<div style="display:flex; flex-direction: column; width: 100%; flex: 1">
  <div style="flex: 2"></div>
  <div style="justify-content:center; display: flex; width: 100%; flex: 8">
    <div style="text-align: center; height: 100%; " *ngIf="status == LoginStatus.Loading">
      <mat-spinner [strokeWidth]="10" style="display: inline-block"></mat-spinner>
      <div style="text-align: center">Connecting the server...</div>
    </div>
    <div style="text-align: center; height: 100%; " *ngIf="status == LoginStatus.Failure">
      <mat-card class="card" [class.mat-elevation-z8]="true">
        <mat-card-title>We'll fix this problem soon.</mat-card-title>
        <mat-card-content>
          <p>
            BSide is a platform to create and edit your static resources in Github.
          </p>
          <p>
            Have contact by <a href="https://github.com/qwefgh90/bside/issues" target="_blank">an issue board.</a>
          </p>
          <br><br><br>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
    <div style="text-align: center;height: 100%; " *ngIf="status == LoginStatus.Initialized">
      <mat-card class="card" [class.mat-elevation-z8]="true">
        <mat-card-title>Skip boring tasks</mat-card-title>
        <mat-card-content>
          <p>
            Bside is a platform to create and edit your static resources in Github.
          </p>
          <br><br><br>
        </mat-card-content>
        <mat-card-actions>
          <section style="text-align: right; margin-bottom: 1em;">
            <mat-checkbox style="margin-bottom: 1em; font-size: 0.9em" [(ngModel)]="includingPrivate" (change)="changeScope($event)">private repos
            </mat-checkbox>
          </section>
          <div style="text-align: center">
            <button (click)="login()" mat-raised-button>Sign in with Github</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div style="flex: 1"></div>
</div>