<div style="padding-top: 4em">
  <div style="text-align: center" *ngIf="status == LoginStatus.Loading">
    <mat-spinner style="display: inline-block"></mat-spinner>
  </div>
  <div style="text-align: center" *ngIf="status == LoginStatus.Failure" >
    <mat-card class="card" [class.mat-elevation-z8]="true">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>We'll fix this problem soon.</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          Easiest is platform to create and edit your static resources in Github
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </mat-card-content>
      <mat-card-actions>
        <!-- <div style="text-align: center">
          <button (click)="refresh()" mat-button>Refresh</button>
        </div> -->
      </mat-card-actions>
    </mat-card>
  </div>
  <div style="text-align: center" *ngIf="status == LoginStatus.Initialized">
    <mat-card class="card" [class.mat-elevation-z8]="true">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Edit your blogs with easiest</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          Easiest is platform to create and edit your static resources in Github
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </mat-card-content>
      <mat-card-actions>
        <div style="text-align: center">
          <button (click)="login()" mat-button>Sign in with Github</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>