.card {
    max-width: 18em;
    display: flex;
    text-align: left;
    flex-direction: column;
    height: 100%
  }

.mat-card-content{
  flex:1;
  font-size: 1.1em;
}

.mat-card-actions{
  flex:1;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.mat-raised-button{
  font-size: 1.1em;
  width: 100%;
  font-weight: 500;
}

.mat-card-title{
  font-size: 1.6em;
  width: 100%; 
  text-align: center;
  margin-bottom: 1em;
}

.mat-card-header-text{
  width: 100%
}

mat-card-header > .mat-card-header-text{
  width: 100%
}