<div style="height: 100%;display: flex; flex-flow: column" aria-label>
  <!-- <button mat-icon-button class="button-with-toggle-style">
    <mat-icon aria-label="view_agenda">view_agenda</mat-icon>
  </button> -->
  <a mat-icon-button title="Static page" class="button-with-toggle-style" href="{{htmlUrl}}" target="_blank" [disabled]="htmlUrl == undefined">
      <mat-icon aria-label="web">pageview</mat-icon>
  </a>
  <mat-button-toggle-group #group="matButtonToggleGroup" [vertical]="true" [(ngModel)]="selectedBtn">
    <mat-button-toggle (click)="onEdit()" [value]="ActionState.Edit" title="Edit">
      <mat-icon aria-label="edit" >edit</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="onSave()" [value]="ActionState.Save" [disabled]="dirtyCount == 0" title="stage">
      <mat-icon aria-label="stage" matBadge="{{dirtyCount}}" matBadgePosition="above after">input</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>