 .mat-tree-node{
    min-height: unset;
    margin-bottom: 0.4em;
}

.mat-tree-node:first-child{
    margin-top: 0.4em;
} 

.tree-invisible {
    display: none;
  }
/*   
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
} */

.node-title{
    flex: 1;
    text-align: left;
    cursor: pointer; 
    display: flex;   
    position: relative;
}
.node-title-opacity{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.node-title-opacity:hover{
    opacity: 0.1;
    background: black;
}


.node-title-opacity:active{
    opacity: 0.2;
    background: black;
}

.selected{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.2;
    background: black;
}

.repository-title-box{
    padding-top: 0.2em;
    font-size: 1.5em;
}

.repository-tools{
    display: flex;
    flex-direction: row;
    min-width: 12vw; 
    font-size: 14px;
    height: 48px;
}

.context-menu-button{
    opacity: 0.4;
}

.context-menu-button:hover{
    opacity: 1;
}

.tree-box{
    flex: 1;
    display: block;
    height: 10px;
    word-break: break-all;
    overflow: auto;
}

.tree-box-outer{
    flex: 1; 
    flex-direction: column; 
    display: flex;
    min-height: 0px;
}