<div style="width: 100%; height: 100%; display: flex; flex-flow: column">
  <div class="repository-title-box">
    <span>{{repository?.name}}</span>
    <a mat-icon-button href="{{repository?.html_url}}" target="_blank"><mat-icon>link</mat-icon></a>
  </div>
  <div class="repository-tools">
    <div style="flex: 1;padding-left: 0.3em;">
      <mat-form-field>
        <input matInput placeholder="Filter files" [formControl]="searchInputFormControl" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div style="display:flex; align-items: center">
      <button mat-icon-button>
        <mat-icon aria-label="New file" title="New file" (click)="newNode('blob')">note_add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="New folder" title="New folder" (click)="newNode('tree')">create_new_folder</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="Upload" title="Upload" (click)="uploadFile('')">cloud_upload</mat-icon>
      </button>
      <!-- 
        <mat-icon style="cursor: pointer; flex: 1" [matMenuTriggerFor]="appMenuForRoot" class="context-menu-button"
          title="Repository menu">
          arrow_drop_down</mat-icon>
      <mat-menu #appMenuForRoot="matMenu" xPosition="before">
        <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="newNode('blob')">
          <mat-icon>note_add</mat-icon>New File
        </button>
        <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="newNode('tree')">
          <mat-icon>fiber_new</mat-icon>New Folder
        </button>
        <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="uploadFile('')">
          <mat-icon>cloud_upload</mat-icon>Upload
        </button>
        <a mat-menu-item style="margin-top: -12px; margin-bottom: -12px;"
          href="{{repository?.html_url}}" target="_blank">
          <mat-icon>link</mat-icon>Github
        </a>
        <a mat-menu-item style="margin-top: -12px; margin-bottom: -12px;"
          href="{{repository?.homepage}}" target="_blank"
          [disabled]="repository?.homepage == undefined || repository?.homepage == null">
          <mat-icon>web</mat-icon>Static page
        </a>
      </mat-menu> -->
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="tree-box">
    <tree-root #tree1 id="tree" [nodes]="dataSource" [options]="options" [focused]="true" (focus)="onNodeFocus($event.node)">
      <ng-template #treeNodeWrapperTemplate let-node let-index="index" let-templates="templates">
        <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
          <div class="node-content-wrapper" style="width: 100%; display: flex"
            [class.node-content-wrapper-active]="selectedNode == node"
            [class.node-content-wrapper-focused]="node.isFocused" (click)="node.mouseAction('click', $event)"
            (dblclick)="node.mouseAction('dblClick', $event)" (contextmenu)="node.mouseAction('contextMenu', $event)"
            (treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop" [treeDrag]="node"
            [treeDragEnabled]="node.allowDrag()">
            <div class="node-title" (click)="node.isExpanded ? node.collapse() : node.expand(); onSelectNode(node)">
              <mat-icon *ngIf="!(node.data.type == 'tree')">description</mat-icon>
              <mat-icon *ngIf="node.data.type == 'tree'">
                {{!node.isExpanded ? 'folder' : 'folder_open'}}
              </mat-icon>
              <span *ngIf="renamingNode != node" style="line-height: 24px; flex: 1">{{node.data.name}}</span>
              <input #blobRenamingInput *ngIf="(renamingNode == node) && (node.data.type == 'blob')"
                [formControl]="renamingFormControl" (keydown.enter)="completeRenaming()" (blur)="completeRenaming()" />
              <input #treeRenamingInput *ngIf="(renamingNode == node) && (node.data.type == 'tree')"
                [formControl]="renamingFormControl" (keydown.enter)="completeRenaming()" (blur)="completeRenaming()" />
            </div>
            <div>
              <mat-icon [matMenuTriggerFor]="appMenu" *ngIf="!(node.data.type == 'tree')" title="Blob menu" class="context-menu-button" >
                arrow_drop_down</mat-icon>
              <mat-icon [matMenuTriggerFor]="appMenuForTree" *ngIf="node.data.type == 'tree'" title="Tree menu" class="context-menu-button">
                arrow_drop_down</mat-icon>
              <mat-menu #appMenu="matMenu" xPosition="before">
                <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="rename(node)">
                  <mat-icon>edit</mat-icon>Rename
                </button>
                <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="remove(node)">
                  <mat-icon>delete</mat-icon>Delete
                </button>
              </mat-menu>
              <mat-menu #appMenuForTree="matMenu" xPosition="before">
                <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="newNode('blob', node)">
                  <mat-icon>note_add</mat-icon>New File
                </button>
                <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="newNode('tree', node)">
                  <mat-icon>create_new_folder</mat-icon>New Folder
                </button>
                <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="uploadFile(node.data.path)">
                  <mat-icon>cloud_upload</mat-icon>Upload
                </button>
                <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="rename(node)">
                  <mat-icon>edit</mat-icon>Rename
                </button>
                <button mat-menu-item style="margin-top: -12px; margin-bottom: -12px;" (click)="remove(node)">
                  <mat-icon>delete</mat-icon>Delete
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </ng-template>
    </tree-root>
  </div>
</div>
<app-upload (fileToUpload)="onFileLoaded($event)"></app-upload>