<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="{'workspace': inWorkspace && isDesktop, 'mobile-workspace': inWorkspace && !isDesktop, 'frame': !inWorkspace}" [ngStyle.lt-md]="{'height': 'auto'}">
    <app-header style="display: flex;"></app-header>
    <router-outlet></router-outlet>
    <div class="cookie-outer" *ngIf="!cookieDisabled">
        <div class="cookie-box">
            <h3>Cookie Policy</h3>
            If you use this service, you implicitly agree that we use cookies
            <br>to improve your convenience and collect your data for the analysis.
            <br>Please check policies for details.
            <button mat-icon-button color="primary" aria-label="Close" style="right: 0px;top: 0px; position: absolute; color: white;" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider *ngIf="!inWorkspace"></mat-divider>
    <div *ngIf="!inWorkspace" class="tail" style="height: 40px; display: flex; align-items: center; height: 1.8em;"
        >
        <div>
            <a href="https://github.com/qwefgh90/bside" target="_blank" style="margin-left: 1em; font-size: 0.9em;">Contribution</a>
        </div>
        <div>
            <a href="https://github.com/qwefgh90/bside/issues" target="_blank" style="margin-left: 1em; font-size: 0.9em;">Issues</a>
        </div>
        <div style="flex: 1"></div>
        <div>
            <a href="https://github.com/qwefgh90/bside/blob/master/web/TERMS-OF-SERVICE.md" target="_blank" style="margin-left: 1em; font-size: 0.9em;">Terms</a>
        </div>
        <div>
            <a href="https://github.com/qwefgh90/bside/blob/master/web/PRIVACY-POLICY.md" target="_blank" style="margin-left: 1em; margin-right: 1em; font-size: 0.9em;">Privacy</a>
        </div>
        <div>
        </div>
    </div>
</div>
