<div fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row wrap">
    <!-- loop over the cardList and show the cards -->
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
    <div
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!-- cards here -->
          <button fxFlex mat-flat-button color="primary">
            Do Something Button
          </button>
    </div>
  </div>
</div>