<div fxFlex fxLayout="column" fxLayoutGap="10px" class="list" (scroll)="onScroll($event)"  *ngIf="ready">
  <div #parent fxLayout="row wrap">
    <!-- loop over the cardList and show the cards -->
    <ng-container *ngFor="let repo of partialTemplates; let i = index">
      <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;"
        *ngIf="repo.homepage != undefined && repo.homepage != ''" class="box" id="{{getId(repo.id)}}">
        <div [class.mat-elevation-z2]="true" class="card-item">
          <div class="card-title">
            <a href="{{repo.html_url}}" target="_blank" style="text-decoration: none;color: unset;margin-right: 1em">
              <span>{{repo.full_name}} </span>
            </a></div>
          <div class="sub-title">
            <span>fork: <b>{{repo.forks_count}}</b>, star: <b>{{repo.stargazers_count}}</b></span>
          </div>
          <div class="card-img">
            <a href="{{getFullUrl(repo.homepage)}}" target="_blank">
              <img #e src="{{getPreview(repo.full_name, getFullUrl(repo.homepage))}}" alt="You should check the index page manually because it takes more than 5 seconds to capture."
                style="width: 100%">
            </a>
          </div>
          <p class="readme">
            {{repo.description}}
          </p>
          <!-- <a href="{{repo.html_url}}" target="_blank" style="text-decoration: none;color: unset;margin-right: 1em"> -->
            <button mat-stroked-button title="Fork" (click)="openDialog(repo)">
              <b>Start here</b>
            </button>
          <!-- </a> -->
        </div>
      </div>
    </ng-container>
    
    <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;"
      class="box loadmore">
      <button mat-stroked-button class="loadmore-button" color="primary" (click)="onLoadMore()">
        <div style="display: flex; align-items: center;">
          <mat-icon aria-hidden="false" aria-label="Load more" style="flex: 1">navigate_next</mat-icon>
        </div>
      </button>
    </div>
  </div>
</div>
<div style="display:flex" *ngIf="!ready">
  <div style="flex:1; display: block;">
    <div class="loading">
      <mat-spinner [strokeWidth]="10"></mat-spinner>
      <div>Loading templates...</div>
    </div>
  </div>
</div>