<div class="repos-outer">
  <div class="repos">
    <mat-nav-list>
      <div mat-subheader style="display:flex">
        <h3>Repositories</h3>
        <div class="spacer"></div>
        <div class="filter">
          <mat-form-field><input matInput placeholder="" [formControl]="searchInputFormControl" />
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="items" *ngIf="repositories">
        <a mat-list-item routerLink="/repos/{{repo.full_name}}" *ngFor="let repo of getRepositories()">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line style="display: flex;"><h4 style="margin: 0px;font-weight: unset;">{{repo.name}}</h4>
            <div *ngIf="repo?.private"><span style="font-size: 0.7em;margin: 0px; vertical-align: middle; margin-left: 0.4em; font-weight: bold;">private</span></div>
          </div>
          <p mat-line>{{repo.updated_at | date:'short'}}</p>
        </a>
      </div>
      <div class="progress-box" *ngIf="!repositories">
        <div style="text-align: center;">
          <mat-spinner style="display: inline-block" [strokeWidth]="3"></mat-spinner>
        </div>
      </div>
      <!-- <mat-divider></mat-divider>
  <h3 mat-subheader>Notes</h3>
  <mat-list-item *ngFor="let note of notes">
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>{{note.name}}</h4>
    <p mat-line> {{note.updated | date}} </p>
  </mat-list-item> -->
    </mat-nav-list>
  </div>
</div>