<div class="repos-outer">
  <div class="repos">
    <mat-nav-list>
      <h3 mat-subheader>Repositories</h3>
      <mat-divider></mat-divider>
      <a mat-list-item href="..." *ngFor="let repo of repositories">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{repo.name}}</h4>
        <p mat-line>{{repo.updated_at | date:'short'}}</p>
      </a>
      <div style="text-align: center; padding-top: 3em; padding-bottom: 3em" *ngIf="repositories.length == 0">
        <mat-spinner style="display: inline-block"></mat-spinner>
      </div>
      <!-- <mat-divider></mat-divider>
  <h3 mat-subheader>Notes</h3>
  <mat-list-item *ngFor="let note of notes">
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>{{note.name}}</h4>
    <p mat-line> {{note.updated | date}} </p>
  </mat-list-item> -->
    </mat-nav-list>
  </div>
</div>