/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';

body{
    height: 100vh;
    margin: 0px;
}

.description > .mat-form-field-wrapper{
    padding-bottom: 0px;
}

.mat-tab-label-content{
    width: 100%
}

.mat-drawer-container{
    background-color:white;
}