/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~highlight.js/styles/github.css';
// theme
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}

body{
    height: 100vh;
    margin: 0px;
}

.description > .mat-form-field-wrapper{
    padding-bottom: 0px;
}

.mat-tab-label-content{
    width: 100%
}

.mat-drawer-container{
    background-color:white;
}

.CodeMirror{
    min-height: 350px;
    flex: 1;
}

.mat-menu-panel{
    min-height: 0px !important;
}