.outer{
    margin-top: 2em;
}
.app-repositories{
    display: flex;
    flex: 1;
    max-width: 60%;
}
.app-user-profile{
}
.app-history{
}
.left{
    flex: 1;
    max-width: 40%;
}
.outer-gt-md{
    width: 1080px;
}